.gpt{
    display: flex;
    flex-direction: column;
    justify-content: center center;
    align-items: center;
    height: 100vh;
}

.inputtext input{
    padding:1rem;
    border: none;
    outline:none;
    border-radius: 5px;
    margin:0.5rem
}

button{
  
        padding:1rem;
        border: none;
        outline:none;
        border-radius: 5px;
    
}

.answer{
    margin:1.4rem;
    width:60%;
}

.texttospeech{
    color:white;
    margin:1rem;
    padding:1rem;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.texttospeech button{
    margin:1rem;
    padding:1rem;
    border: none;
    outline:none;
    border-radius: 5px;
}


.wrappertext{
    display: flex;
    flex-direction: row;
    
    width:100vw;
    flex-wrap: wrap;
}