.element{
 margin:0.4rem;
 padding:1rem;
 background-color: aliceblue;
 height:24rem;
 transform: scale(0.9);
 
}

#demo-simple-select-label{
    color:rgb(14, 16, 17);
    padding:0.4rem;
    margin:1rem;
   
   
}

.page{
    background-color:rgb(34, 28, 28);
    display:flex;
    flex-direction: row;
    
    justify-content: space-between;
    gap:1rem

}


#demo-simple-select{
    width:10rem;
  
}


.img img{
    height:12rem;
    width:100%
}

.result{
    display: grid;
    grid-template-columns: auto auto auto ;
    flex-wrap: wrap;
}
.category{
    background-color:aliceblue;
    padding:0.4rem;
    margin:1rem;
    
    width:auto;
    
    
   
}
.categorys{
    height:10rem;
    background-color:rgba(187, 199, 209, 0.336);
    padding:0.4rem;
    margin:1rem;
    position:absolute;
    
    z-index:999;
    
    width:auto
}